.container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

div.line_through {
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through; 
 }