<header role="banner">
    <h2 style="margin-top:0;">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        <br>
        <small>{{ site.tagline }}</small>
    </h2>

    <nav style="margin-bottom:1rem;" role="navigation">
        <span>&middot;</span>
        <a href="/posts">likes</a>
        <span>&middot;</span>
        <a href="/talks">talks</a>
        <span>&middot;</span>
        <a href="https://github.com/3cpt" target="_blank">github</a>
        <span>&middot;</span>
        <a href="https://www.linkedin.com/in/andcorreia" target="_blank">linkedin</a>
        <span>&middot;</span>
        <a href="https://twitter.com/3cpt_" target="_blank">twitter</a>
        <span>&middot;</span>
    </nav>
</header>